<div>
    <p class="title">Bevestig wachtwoord wijzigen</p>
    <hr>
</div>
<div>
    <p>
        U staat op het punt om uw wachtwoord te wijzigen.<br>
        <br>
        - Na bevestiging wordt u uitgelogd<br>
        - Wordt er een e-mail verstuurd naar het bij ons bekende e-mailadres<br>
        - Volg de instructies hiervan om uw wachtwoord te wijzigen
    </p>
</div>
<div class="footer">
    <hr>
    <div class="row">
        <div class="col-6">
            <button class="cancelBtn" mat-dialog-close><p>annuleer</p></button>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button [ngStyle]="customBackgroundColor" (click)="confirmed()"><p>bevestig</p></button>
        <div>
    </div>
</div>